@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.mainFont {
  font-family: "Fredoka", sans-serif;
}

.generalInfo {
  text-align: center;
}

.title {
  font-size: 64px;
}

.members {
  margin-left: 84px !important;
}

.fullStack {
  margin-left: 64px !important;
}